.headerWrapper {
  width: 100%;
  height: 5rem;
  box-shadow: 0 2px 4px rgb(72 72 72 / 0.1);
  padding: 0 2rem;
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}
.titleText {
  margin: 0 0 0 1rem;
  font-weight: 600;
}
.titleBlock {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}
.imgItem {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}
.sideNav {
  width: 15rem;
  height: calc(100% - 5rem);
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgb(72 72 72 / 0.1);
  position: fixed;
  left: 0;
  top: 5rem;
  z-index: 1;
}

.menuBlock {
  padding: 0;
}

.active {
  background: rgba(13, 110, 253, 0.2);
  color: #0d6efd;
}

.menuItem:hover {
  background: rgba(13, 110, 253, 0.2);
  color: #0d6efd;
}
