.backButton {
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
}

.IconItem {
  margin: 0 0 1rem 0;
}
.IconItem svg {
  font-size: 2rem;
  cursor: pointer;
}

.IconItem svg:hover path {
  fill: #0d6efd;
}
