.residentCartBlock {
  display: flex;
  margin: 1rem 0;
  border-radius: 1rem;
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
}
.imgBlock {
  flex: 1.5;
  border-radius: 1rem 0 0 1rem;
}
.imgBlock img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem 0 0 1rem;
}
.textBlock {
  width: 100%;
  height: 100%;
  flex: 2;
  border-radius: 0 1rem 1rem 0;
  padding: 0.5rem 1rem;
}
.textItem {
  display: flex;
  flex-direction: column;
}
.statusItem {
  display: flex;
  align-items: center;
}

.locationName {
  font-weight: 600;
  font-size: 1.2rem;
}

.circle {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  margin: 0 0.5rem 0 0;
}
.unknown {
  background-color: #ffee58;
}

.alive {
  background-color: #1abd00;
}

.dead {
  background-color: #da0404;
}
.unknownText {
  color: #f9a825;
}

.aliveText {
  color: #00631e;
}

.deadText {
  color: #8f0000;
}
