body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;
  overflow-x: hidden;
}

.mainContent {
  padding: 0 0 0 240px;
  margin-top: 30px;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #696666;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
